<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Trip</title>
</head>
<body>
    <h1>Edit Trip</h1>
    <form action="/trips/update" method="POST">
        <input type="hidden" name="id" th:value="${trip.id}">
        <label>Trip Name:</label><input type="text" name="tripName" th:value="${trip.tripName}"><br>
        <label>Destination:</label><input type="text" name="destination" th:value="${trip.destination}"><br>
        <label>Start Date:</label><input type="date" name="startDate" th:value="${trip.startDate}"><br>
        <label>End Date:</label><input type="date" name="endDate" th:value="${trip.endDate}"><br>
        <label>Budget:</label><input type="number" name="budget" th:value="${trip.budget}"><br>
        <button type="submit">Update Trip</button>
    </form>
    <a href="/trips/list">Back to List</a>
</body>
</html>
